#instant-update-status {
  right: 0;
  bottom: -2px;
  position: fixed;
  background-color: #FFC;
  color: #AAA;
  border-radius: 0.5em;
  padding: 0 0.5em;
  font-family: Arial;
  font-size: 8pt;
  font-weight: 500;
  z-index: 999;
  /*pointer-events: none;*/
  cursor: default;
}

#instant-update-status:hover {
  opacity: 0.3;
}

#instant-banner-timestamp {
  color:#555;
}

@keyframes spinner-rotate {
  0%       { transform: rotate(0deg); }
  100%     { transform: rotate(360deg); }
}
