/* Highlight backlog assignee */
a[rel^="backlog-"] {
	background-color: #ff800040;
}

/* No margin for inner sublists */
li > ul {
    margin: 0;
}

/* Code quote wrap */
/*
.syntaxplugin tr#syntaxplugin_code_and_gutter pre {
	text-wrap: wrap;
	word-break: break-all;
}
*/
/* Code quote font size */
.syntaxplugin tr#syntaxplugin_code_and_gutter pre {
	font-size: 0.8em !important;
	margin: 0 !important;
}

/* Code highlight line on mouse hover */
.syntaxplugin tr#syntaxplugin_code_and_gutter:hover {
	background-color: #E8E8E8;
}

/* Line between the code lines */
.syntaxplugin tr#syntaxplugin_code_and_gutter {
  outline: 1px dashed #dcdce0;
}

/* Proper wrapping for comments */
.twixi-block .verbose .flooded, .toggle-wrap .verbose .flooded {
    word-break: break-word;
}

/* Dev commit dialog... */
.jira-dialog .devstatus-dialog-content .devstatus-detail-table .ellipsis,
html:not(.msie-8):not(.msie-9) .jira-dialog .devstatus-dialog-content .builds-header .ellipsis {
/*
	overflow: unset !important;
  text-overflow: unset !important;
  white-space: pre-wrap !important;
*/
	font-size: 9pt;
}
#devstatus-commit-detail-dialog {
  width: 90% !important;
  margin: 0 !important;
  left: 5% !important;
  position: fixed !important;
  top: 5% !important;
}

/** Invisible elements */

/* Edit crayon is always visible */
.overlay-icon {
  opacity: 0.5 !important;
	z-index: auto !important;
}
/* Delete Link cross is always visible */
.links-list dd .delete-link a {
  position: absolute !important;
  text-align: center !important;
  width: 24px !important;
  height: auto !important;
  top: 7px !important;
  right: 2px !important;
  clip: auto !important;
}
/* Delete attachment */
.attachment-content .attachment-delete a {
  width: auto !important;
  height: auto !important;
  clip: auto !important;
}
/* Issue table dots */
#issuetable .issuerow.focused .issue-actions-trigger,
.issue-table .issuerow.focused .issue-actions-trigger,
#issuetable .issuerow .issue-actions-trigger,
.issue-table .issuerow .issue-actions-trigger,
#issuetable .issuerow .issue-actions-trigger,
.issue-table .issuerow .issue-actions-trigger {
  opacity: 1 !important;
}
/* misc */
.ja-timer-box {
  opacity: 1
}
#crManageDialog .aui-dialog2-content #canned-responses-list tbody tr .menu {
  display: block !important;
}
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item a {
  display: block !important;
  padding: 5px 10px !important;
  text-decoration: none !important;
}
